header {
    padding: 20px;
    padding-left: 40px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-container img {
    width: 50px;

}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 50px;

}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px
    }

    .nav ul {
        display: flex;
        width: auto;
    }

    li a {
        padding: 10px 20px;
    }
}

.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 30px;


}

.hero-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.button {
    border: none;
    color: white;
    background-color: #b2b49d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@media (min-width: 768px) {
    .hero {
        min-height: 500px;
        background-image: url("../images/hero.jpg");
        background-size: cover;
        background-position: center;

        display: flex;
        align-items: center;
        justify-content: left;

    }

    .hero-image {
        display: none;
    }

    .hero-card {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        align-items: flex-start;
        padding: 35px;
        color: white;
    }



}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    border-top: solid;
    border-width: 1px;
    border-color: #b2b49d;
}

h2+p {
    margin-top: 0px;

}

.activities {
    background-color: #F0F0EE;
    text-align: center;
    padding-top: 10px;

}

.activities-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;

}

.activities-card img {
    width: 100%;
    display: block;
}

.activities-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 80%;
    margin: 20px;

}

.card-content {
    padding: 0px 20px 0px 20px;
}

.plan {
    text-align: center;
    padding: 10px 20px 60px;
}

.plan p {
    padding-bottom: 40px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    text-align: center;
    background-color: #F0F0EE;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-header {
    grid-column: 1 / 3;
    display: grid;
    justify-items: center;
}


.footer-header img {
    width: 50px;
}


.footer-info {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: black;
}